<!-- <li *ngFor= "let orderItem of ORDER">{{orderItem}}</li> -->

<h3><strong>ORDEN:</strong></h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio Unitario</th>
      <th scope="col">Precio Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let itemOrder of finalOrder, let i = index" >
      <th scope="row">{{i+1}}</th>
      <td>{{itemOrder.name}}</td>
      <td>{{itemOrder.quantity}}</td>
      <td>{{itemOrder.price}}</td>
      <td>{{itemOrder.priceTotal}}</td>
      <td><button (click)="eliminar(itemOrder.id)" class="delete-btn">Eliminar</button></td>
    </tr>
  </tbody> 
  <tfoot>
    <tr> 
      <th>Total:</th>
      <th></th>
      <th></th>
      <th></th>
      <th>{{ totalProducto | currency }}</th>
    </tr>
  </tfoot>
</table>


<!-- <div class="list-group">
  <li class="list-group-item list-group-item-action" *ngFor="let itemOrder of finalOrder">{{itemOrder.name}} - {{itemOrder.quantity}}</li>
</div> -->