<div class="home-container">
  <div class="overlay-itro"></div>
    <!-- <br><br><br><br><br><br> -->
  <div class="content">
    <img class="logo" src="https://frankynztein.github.io/LIM009-fe-burger-queen/assets/Logo-Burger-Queen-Blanco.png" alt="">
    <div class="btn-home-container padding-btn">
      <button routerLink='/mesero/take-order' class="btn btn-light btn-lg"><strong>MESERO</strong></button>
      <button routerLink='/cocinero/order-list' class="btn btn-light btn-lg"><strong>COCINA</strong></button>
    </div>
  </div>
  </div>