<div class="home-container">
  <div class="overlay-itro"></div>
    <br><br><br><br><br><br>
  <div class="content">
    <img class="logo" src="../../assets/Logo-Burger-Queen-Blanco.png" alt="">
    <br><br><br>
    <div class="btn-home-container">
      <button routerLink='/mesero/take-order' class="btn btn-warning btn-lg"><strong>MESERO</strong></button>
      <button routerLink='/cocinero/order-list' class="btn btn-warning btn-lg"><strong>COCINA</strong></button>
    </div>
    </div><br><br><br><br><br>
  </div>