.home-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  padding-top: 20%;
  text-align: center;
}

.btn-home-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
}