<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" >
      <li class="nav-item">
        <a class="nav-link active" (click)="openBreakfastMenu()">Desayuno</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openLunchMenu()">Almuerzo y cena</a>
      </li>
    </ul>
  </div>
  <div class="card-body" *ngIf='showBreakfast'>
    <app-breakfast-menu></app-breakfast-menu>
  </div>
  <div  class="card-body" *ngIf='showLunch'>
    <app-lunch-menu></app-lunch-menu>
  </div>
</div>