<nav class="navbar navbar-expand-lg navbar-light">
  <img routerLink='' class="out" src="https://frankynztein.github.io/LIM009-fe-burger-queen/assets/out.png" alt="">
  <img class="logo" src="https://frankynztein.github.io/LIM009-fe-burger-queen/assets/Logo-Burger-Queen-Blanco.png" />

</nav>
<div class="card text-center">
<div class="card-header bg-warning">
  <ul class="nav nav-tabs card-header-tabs" >
    <li class="nav-item">
      <a class="nav-link pointer" [ngClass]="{'active': showActivePending}" (click)="openPending()"><strong>Pendientes</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link pointer"  [ngClass]="{'active': showActiveReadyToServe}" (click)="openReadyToServe()"><strong>Listos para Servirse</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link pointer" [ngClass]="{'active': showActiveDelivery}" (click)="openDelivery()"><strong>Entregados</strong></a>
    </li>
  </ul>
</div>
<div class=" card-body-1" *ngIf='showPending'>
  <div class="row ml-3 mr-3 mt-3">
    <div class="col-6"  *ngFor="let itemOrder of ordersPending, let i = index" >
        <div class="card text-center mb-2 border border-warning">
            <div class="card-header text-center font-weight-bold bg-yellow">
                <div class="row">
                <div class="col-9">
                <p>ORDEN N°: {{itemOrder.numberOrders}}  -   CLIENTE: {{itemOrder.clientName}}</p>
                </div> 
                <div class="col-1">
                <img class= "img" src="../../assets/stopwatch.png" alt="">
                </div>
                <div class="col-2">
                <p class="letter ml-3" *ngIf="timers[itemOrder.id].seconds <= 9 && timers[itemOrder.id].minutes>=10 "> {{timers[itemOrder.id].hours}}:{{ timers[itemOrder.id].minutes}}:0{{timers[itemOrder.id].seconds }}</p>
                <p class="letter ml-3" *ngIf="timers[itemOrder.id].seconds >= 10 && timers[itemOrder.id].minutes<=9">  {{timers[itemOrder.id].hours}}:0{{ timers[itemOrder.id].minutes}}:{{timers[itemOrder.id].seconds }}</p>
                <p class="letter ml-3" *ngIf="timers[itemOrder.id].seconds <= 9 && timers[itemOrder.id].minutes<= 9 "> {{timers[itemOrder.id].hours}}:0{{ timers[itemOrder.id].minutes}}:0{{timers[itemOrder.id].seconds }}</p>
                <p class="letter ml-3" *ngIf="timers[itemOrder.id].seconds >= 10&& timers[itemOrder.id].minutes>= 10"> {{timers[itemOrder.id].hours}}:{{ timers[itemOrder.id].minutes}}:{{timers[itemOrder.id].seconds }}</p>
                </div>
              </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itemOrder1 of itemOrder.products, let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{itemOrder1.name}} {{itemOrder1.additional1}} {{itemOrder1.additional2}}</td>
                        <td>{{itemOrder1.quantity}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="card-footer">
              <button   class="btn btn-success col align-self-end font-weight-bold font-white" (click)="sendStatusReadyToServer(itemOrder)"><strong>Listo para servir</strong></button>
            </div>
          </div>
    </div>
    </div> <br><br>
    
</div>
<div  class="card-body2" *ngIf='showReadyToServe'>
  <div class="row ml-3 mr-3 mt-3">
    <div class="col-6"  *ngFor="let itemOrder of ordersReadyToServe, let i = index" >
        <div class="card text-center mb-2 border border-warning">
          <div class="card-header text-center font-weight-bold bg-yellow">
              <div class="row">
              <div class="col-9">
              <p>ORDEN N°: {{itemOrder.numberOrders}}  -   CLIENTE: {{itemOrder.clientName}}</p>
              </div> 
              <div class="col-1">
              <img class= "img" src="../../assets/intervalo.png" alt="">
              </div>
              <div class="col-2">
              <p class="letter ml-2">{{itemOrder.timeIntervalPR.hours}}:{{itemOrder.timeIntervalPR.minutes}}:{{itemOrder.timeIntervalPR.seconds}}</p>
              </div>
            </div>
          </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itemOrder1 of itemOrder.products, let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{itemOrder1.name}} {{itemOrder1.additional1}} {{itemOrder1.additional2}}</td>
                        <td>{{itemOrder1.quantity}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="card-footer">
              <button   class="btn btn-success col align-self-end font-weight-bold font-white" (click)="sendStatusDelivery(itemOrder.id)"><strong>Entregado</strong></button>
            </div>
          </div>
    </div>
    </div><br><br>
</div>
<div  class="card-body3" *ngIf='showDelivery'>
  <div class="row ml-3 mr-3 mt-3">
    <div class="col-6"  *ngFor="let itemOrder of ordersDelivery, let i = index" >
        <div class="card text-center mb-2 border border-warning">
          <div class="card-header text-center font-weight-bold bg-yellow">
            ORDEN N°: {{itemOrder.numberOrders}}  -   CLIENTE: {{itemOrder.clientName}}
          </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itemOrder1 of itemOrder.products, let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{itemOrder1.name}} {{itemOrder1.additional1}} {{itemOrder1.additional2}}</td>
                        <td>{{itemOrder1.quantity}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
    </div><br><br>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <strong> BurgerQueen</strong>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->