.navbar{
  background: black;
  width: 100%;
}

.logo{
  display:block;
  margin:auto;
  padding: 0;
  height: 60px;
  width: 120px;
}

.out{
  height: 50px;
  width: 50px;
}

footer {
  background-color: black;
  color:white;
  position:fixed;
  bottom:0;
  width: 100%;
}

.letter-color{
  color: red;
}