.btn-lunch {
  font-weight: bold;
  margin-bottom: 3%;
  width: 250px;
  height: 50px;
}

.row {
  margin-bottom: 3%;
}

label {
  padding-left:0 !important;
  margin-left:0 !important;
}

.card-body{
  padding: 0%
}
.border-trans{
  border: white
}
.font-black{
  color:black
}
.effect:hover{
  border: solid 4px rgb(255, 255, 0);
  cursor: pointer;
}
.effectH:hover{
  border: solid 1px rgb(255, 255, 0);
}