<!-- <ul>
  <li *ngFor="let itemL of itemsLunchMenu">{{itemL.name}} - Precio: {{itemL.price}}</li>
</ul> -->

<!-- <p>Prueba Almuerzo</p> -->
<div class="container">
  <button data-toggle="collapse" data-target="#hamburguesas" (click)="reloadBreakfastComponent()">Hamburguesas</button>
  <ul>
      <li id="hamburguesas" class="collapse" *ngFor="let itemL of hamburguesas">{{itemL.name}} - Precio: {{itemL.price}}</li>
  </ul>
  <button  data-toggle="collapse" data-target="#bebidas">Bebidas</button>
  <ul>
      <li id="bebidas" class="collapse" *ngFor="let itemL of bebidas">{{itemL.name}} - Precio: {{itemL.price}}</li>
  </ul>
  
  <button data-toggle="collapse" data-target="#acompanamientos">Acompañamientos</button>
  <ul>
      <li id="acompanamientos" class="collapse" *ngFor="let itemL of acompanamientos">{{itemL.name}} - Precio: {{itemL.price}}</li>
  </ul>
  
  <button data-toggle="collapse" data-target="#adicionales">Adicionales</button>
  <ul>
      <li id="adicionales" class="collapse" *ngFor="let itemL of  adicionales">{{itemL.name}} - Precio: {{itemL.price}}</li>
  </ul>
</div>

