<div clas="col-6">
    <!-- HAMBURGUESAS -->
    <button data-toggle="collapse" data-target="#hamburguesas"
        class="btn btn-dark btn-lg btn-lunch">Hamburguesas</button>
    <div class="container">
        <div class="row">
            <div id="hamburguesas" class="col-6 collapse">
                <div class="card-deck ">
                    <div class="card">
                        <img class="card-img-top lunch-img" src="../../assets/Burgers-and-Blues-1-1024x768.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Hamburguesas Simples</h5>
                            <p class="card-text">Precio: $10</p>
                            <div *ngFor="let itemL of hamburguesasS; let in = index">
                                <div class="text-center p-1 mb-2 font-weight-bold margin-bottom bg-warning "
                                    (click)="addItemToMenuService(itemL.id, itemL.additional)">
                                    {{itemL.contentBurger}}</div>
                                <div class="form-group ">
                                    <label>Adicional</label>
                                    <div class="form-control">
                                        <label class="radio-inline">
                                            <input type="radio" value="con huevo" name="adicional-{{in}}" [(ngModel)]="itemL.additional" ng-checked="checked1" ng-change="do()" >huevo
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="con queso" name="adicional-{{in}}" [(ngModel)]="itemL.additional">Queso
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hamburguesas" class="col-6 collapse">
                <div class="card-deck ">
                    <div class="card">
                        <img class="card-img-top lunch-img" src="../../assets/stacked-gochujang-burger-fwx.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Hamburguesas Dobles</h5>
                            <p class="card-text">Precio: $15</p>
                            <div>
                                <div class="text-center p-1 mb-2 font-weight-bold margin-bottom bg-warning"
                                    (click)="addItemToMenuService(itemL.id, itemL.additional)" *ngFor="let itemL of hamburguesasD">
                                    {{itemL.contentBurger}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div id="hamburguesas" class="col-6 collapse" *ngFor="let itemL of hamburguesas">
        <div (click)="addItemToMenuService(itemL.id)"  class="card-deck ">
            <div class="card">
                <img class="card-img-top lunch-img" src="{{itemL.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{itemL.name}}</h5>
                    <p class="card-text">Precio: {{itemL.price | currency}}</p>
                </div>
            </div>
        </div>
    </div>-->
    <!-- BEBIDAS -->
    <button data-toggle="collapse" data-target="#bebidas" class="btn btn-dark btn-lg btn-lunch">Bebidas</button>
    <div class="container">
        <div class="row">
            <div id="bebidas" class="col-6 collapse" *ngFor="let itemL of bebidas">
                <div (click)="addItemToMenuService(itemL.id)" class="card-deck ">
                    <div class="card">
                        <img class="card-img-top lunch-img" src="{{itemL.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{itemL.name}}</h5>
                            <p class="card-text">Precio: {{itemL.price | currency}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ACOMPAÑAMIENTO -->
    <button data-toggle="collapse" data-target="#acompanamientos"
        class="btn btn-dark btn-lg btn-lunch">Acompañamientos</button>
    <div class="container">
        <div class="row">
            <div id="acompanamientos" class="col-6 collapse" *ngFor="let itemL of acompanamientos">
                <div (click)="addItemToMenuService(itemL.id)" class="card-deck ">
                    <div class="card">
                        <img class="card-img-top lunch-img" src="{{itemL.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{itemL.name}}</h5>
                            <p class="card-text">Precio: {{itemL.price | currency}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>